.todo-card {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 152px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  > * {
    display: flex;
    margin: 10px 8px 0  ;
    height: 25px;
    &.-wide {
      height: 50px;
    }
    > .button {
      margin-left:auto;
    }
  }
}
